.image-Size{
    width: 100%;
    height:auto;
}
.footer-Div{
    height:auto;
    width: 100%;
    position: relative;
    background-color: #ccc;
    bottom: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    z-index: 9999999;
}
.form-InnerDiv{ 
    padding: 20px;   
    height: 470px;
    width: 510px;
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 10px; 
    background-color: #fff;  
}
.Submit-btn{
    margin-left: 40%;
    margin-top: 45px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    background-color: rgb(64, 64, 128);
    color: white;
}
.Submit-btn:hover{
    background-color: gray;
    color: #000;
}
.image-sty{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding: 4px;
}

.main-Div{
    width:auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
   
}

.card-Div{

    background-color:#fff ;
    box-shadow: 0px 1px 2px 2px rgba(0.1,0.2,0,0.1);
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    
    
}
.card-inp{
    height: auto;
    width: 30px;

}


body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    background: #ffffff;
    transition: transform 0.3s ease-in-out;
    max-height: 70px;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

.icon {
    font-size: 3rem;
    color: #007bff;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    border-radius: 50px;
    padding: 0.5rem 2rem;
}
.Submit-Btn{
    border-radius: 8px;
    margin-top: 15px;
    background-color: rgb(3, 109, 3);
    height: 40px;
    width: 75px;
}
.contact-Form{
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 500px;
    margin:auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.Wa-logo{
    margin-top: 20px;
}
.form-control{
    margin-top: 5px;
}


